<h2 mat-dialog-title>Change Password</h2>
<mat-dialog-content>
  <form (ngSubmit)="changePassword()">
    <mat-form-field>
      <input matInput [(ngModel)]="newPassword" name="newPassword" type="password" placeholder="New Password" required />
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="confirmPassword" name="confirmPassword" type="password" placeholder="Confirm Password" required />
    </mat-form-field>
    <button mat-button type="submit" [disabled]="newPassword !== confirmPassword">Submit</button>
  </form>
</mat-dialog-content>
