.container{
  padding: 5px;
  background-color: var(--color-primary);
  color: var(--color-secondary);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.mat-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mat-form > mat-form-field{
  margin-top: 10px;
}

.mat-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 5px;
  padding-left: 10%;
  padding-right: 10%;
}
