# Ignore IDE files
.idea/
*.iml

# Ignore Node.js dependencies
frontend/node_modules/

# Ignore Angular build outputs
frontend/dist/

# Ignore Java build outputs
backend/target/

# Exclude application.properties
backend/src/main/resources/application.properties

# Exclude application-prod.properties
backend/src/main/resources/application-prod.properties

# Exclude application-dev.properties
backend/src/main/resources/application-dev.properties

# Ignore system files
.DS_Store
Thumbs.db

# Ignore .env file
.env

# Logs
*.log
