<div class="background">
  <div class="main-container">
    <h1>
      {{'loginScreen.login' | translate}}
    </h1>
    <form [formGroup]="loginForm" (submit)="login()">
      <div>
        <label>{{'loginScreen.username' | translate}}</label>
        <input type="text" formControlName="username">
      </div>
      <div>
        <label>{{'loginScreen.password' | translate}}</label>
        <input type="password" formControlName="password">
      </div><br>
      <button type="submit" [disabled]="loginForm.invalid">{{'loginScreen.loginButton' | translate}}</button>
      <button type="submit" (click)="signUp()">{{'loginScreen.signUpButton' | translate}}</button>
      <div *ngIf="loginError">
        <p style="color: red; font-weight: bold">{{ loginError }}</p>
      </div>
    </form>
  </div>

</div>
