<div>
  <h3>{{'themeSettings.title' | translate}}</h3>
</div>

<div class="theme-container">
  <div class="theme-item" [ngClass]="{'selected': themeColor === 'green'}" (click)="previewTheme('green')">
    <div class="indicator-green"></div>
    <label>{{'themeSettings.greenLabel' | translate}}</label>
  </div>

  <div class="theme-item" [ngClass]="{'selected': themeColor === 'brown'}" (click)="previewTheme('brown')">
    <div class="indicator-brown"></div>
    <label>{{'themeSettings.brownLabel' | translate}}</label>
  </div>

  <div class="theme-item" [ngClass]="{'selected': themeColor === 'purple'}" (click)="previewTheme('purple')">
    <div class="indicator-purple"></div>
    <label>{{'themeSettings.purpleLabel' | translate}}</label>
  </div>

  <div class="theme-item" [ngClass]="{'selected': themeColor === 'bluePink'}" (click)="previewTheme('bluePink')">
    <div class="indicator-blue-pink"></div>
    <label>{{'themeSettings.bluePinkLabel' | translate}}</label>
  </div>

  <div class="theme-item" [ngClass]="{'selected': themeColor === 'blackYellow'}" (click)="previewTheme('blackYellow')">
    <div class="indicator-black-yellow"></div>
    <label>{{'themeSettings.blackYellowLabel' | translate}}</label>
  </div>

  <div class="theme-item" [ngClass]="{'selected': themeColor === 'redWhite'}" (click)="previewTheme('redWhite')">
    <div class="indicator-red-white"></div>
    <label>{{'themeSettings.redWhiteLabel' | translate}}</label>
  </div>
</div>

<div>
  <button (click)="applyTheme()">{{'themeSettings.applyButton' | translate}}</button>
</div>
