<div>
  <h3>Change themes</h3>
</div>

<div>
  <div class="indicator-green"> </div>
  <label> - Green</label>
  <button type="button" (click)="setGreenTheme()">Change theme</button>
</div>

<div>
  <div class="indicator-orange"> </div>
  <label> - Brown</label>
  <button type="button" (click)="setBrownTheme()">Change theme</button>
</div>
<div>
  <div class="indicator-blue-pink"> </div>
  <label> - Blue/Pink</label>
  <button type="button" (click)="setBluePinkTheme()">Change theme</button>
</div>
<div>
  <div class="indicator-black-yellow"> </div>
  <label> - Black/Yellow</label>
  <button type="button" (click)="setBlackYellowTheme()">Change theme</button>
</div>

<!--<div>
  <h2>Language</h2>
  <select [(ngModel)]="settings.language" (change)="updateLanguage()">
    <option value="en">English</option>
    <option value="es">Spanish</option>
    <option value="fr">French</option>
    <option value="de">German</option>
  </select>-->

<!--<div>
  <h2>Account Settings</h2>
  <div>
    <button (click)="openChangePasswordDialog()">Change Password</button>
  </div>
  <div>
    <button (click)="requestAccountDeletion()">Delete Account</button>
  </div>
</div>-->
