
.theme-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.theme-item{
  width: 28%;
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
  border-radius: 10px;
}

.theme-item.selected{
  transform: scale(1.1);
  background-color: var(--color-primary);
  border: 2px solid var(--color-border);
}

.theme-item:hover {
  transform: scale(1.05);
}

.theme-item label {
  margin-top: 5px;
}

.indicator-green{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid black;
  background-image: linear-gradient(#187377, #98e4e6);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.indicator-brown{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid black;
  background-image: linear-gradient(#af3903, #f4824f);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.indicator-blue-pink{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid black;
  background-image: linear-gradient(#2F3C7E, #FBEAEB);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.indicator-black-yellow{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid black;
  background-image: linear-gradient(#101820, #FEE715);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.indicator-red-white{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid black;
  background-image: linear-gradient(#990011, #FCF6F5);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.indicator-purple{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid black;
  background-image: linear-gradient(#735DA5, #D3C5E5);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}
