.background{
  background-image: var(--background-url);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  height: calc(100vh - 70px);
  width: 100vw;
  overflow: hidden;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.settings-container{
  width: 100%;
  max-width: 500px;
  height: 550px;

  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  background-color: var(--color-loginBg);

  display: flex;
  flex-direction: column;
  text-align: center;

  overflow: auto;
  padding: 20px;
  box-sizing: border-box;
}
