<nav>
  <div class="main-navbar">
    <div class="bars-button">
      <button type="button" (click)="toggleSidebar($event)">
        <i class="fa-solid fa-bars"></i>
      </button>
    </div>

    <div>
      <button mat-icon-button (click)="viewPendingRequests()" class="request-button">
        <i class="fa-solid fa-envelope"></i>
        <span class="request-counter" *ngIf="pendingRequestsCount > 0" matBadge="{{pendingRequestsCount}}" matBadgeColor="warn"></span>
      </button>
    </div>
  </div>

  <div class="sidebar" [class.active]="isSidebarOpen" *ngIf="isSidebarOpen" (clickOutside)="closeSidebar()">
    <div class="profile">
      <img [src]="currentUser.pfpUrl" alt="Profile picture" class="profile-picture">
      <h2>{{ currentUser.displayedName }}</h2>
    </div>
    <ul class="sidebar-buttons">
      <li><button (click)="openProfile()">Profile</button></li>
      <li><button (click)="openChat()">Chat</button></li>
      <li><button (click)="openSettings()" >Settings</button></li>
      <li><button type="button" (click)="logout()">Logout</button></li>
    </ul>
  </div>
</nav>
