<div class="privacy-settings">
  <h3>{{'privacySettings.title' | translate}}</h3>
  <br>
  <div>
    <label>
      <input type="checkbox" [(ngModel)]="privacy.showOnlineStatus" />
      {{'privacySettings.onlineStatus' | translate}}
      <span class="info-icon" title="{{'privacySettings.onlineStatusInfo' | translate}}">
        <i class="fa-solid fa-circle-info"></i>
      </span>
    </label>
  </div>
  <div>
    <label>
      <input type="checkbox" [(ngModel)]="privacy.profileVisibility" />
      {{'privacySettings.profileVisibility' | translate}}
      <span class="info-icon" title="{{'privacySettings.profileVisibilityInfo' | translate}}">
        <i class="fa-solid fa-circle-info"></i>
      </span>
    </label>
  </div>
  <br>
  <button  (click)="emitPrivacySettings()">{{'privacySettings.applyChanges' | translate}}</button>
</div>
