.privacy-settings{
  padding: 10px;
  position: relative;
}

.privacy-settings div{
  padding: 10px;
}

.info-icon{
  font-size: 0.8rem;
  position: absolute;
  margin-left: 5px;
  margin-top: -5px;
  cursor: pointer;
}

.fa-circle-info{
  color: var(--color-secondary);
}
