<div class="container">
  <mat-dialog-content>
    <h2> {{ translatedTitle  }}</h2>
    <p> {{ translatedMessage  }} </p>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button *ngIf="data.isConfirm" mat-button (click)="onConfirm()" class="confirm-button">
      {{ translatedConfirmText }}
    </button>
    <button *ngIf="data.isConfirm" mat-button (click)="onCancel()" class="cancel-button">
      {{ translatedCancelText }}
    </button>
    <button *ngIf="!data.isConfirm" mat-button (click)="onClose()" class="ok-button">
      {{ translatedOkText }}
    </button>
  </mat-dialog-actions>
</div>
