<div class="background">
  <div class="container">
    <div>
      <h1>
        Friend requests
      </h1>
      <br>
    </div>
    <div *ngIf="friendRequests.length == 0">
      <div>
        <p>You don't have any friends requests!</p>
      </div>
    </div>
    <div *ngFor="let request of friendRequests">
      <div class="sender-name">{{ request.sender.displayedName }}</div>
      <button (click)="acceptFriendRequest(request.id)">Accept</button>
      <button (click)="denyFriendRequest(request.id)">Reject</button>

      <hr>
      <br><br>
    </div>

    <div>
      <h1>
        Chat invites
      </h1>
      <br>
    </div>
    <div *ngIf="chatInvites.length == 0">
      <div>
        <p>You don't have any friends requests!</p>
      </div>
    </div>
    <div *ngFor="let inv of chatInvites">
      <div class="sender-name">{{ inv.sender.displayedName }} sent you a chat invite for chat: '{{ inv.chat.name }}'</div>
      <button (click)="acceptChatInvite(inv.id)">Accept</button>
      <button (click)="denyChatInvite(inv.id)">Reject</button>

  </div>
</div>
