<div class="background">
  <div class="container">
    <div>
      <h1>
        {{'friendRequests.title' | translate}}
      </h1>
      <br>
    </div>
    <div *ngIf="friendRequests.length == 0">
      <div>
        <p>{{'friendRequests.noRequestMessage' | translate}}</p>
      </div>
    </div>
    <div *ngFor="let request of friendRequests">
      <div class="sender-name">{{ request.sender.displayedName }}</div>
      <button (click)="acceptFriendRequest(request.id)">{{'friendRequests.accept' | translate}}</button>
      <button (click)="denyFriendRequest(request.id)">{{'friendRequests.reject' | translate}}</button>

      <hr>
      <br><br>
    </div>

    <div>
      <h1>
        {{'friendRequests.chatInvTitle' | translate}}
      </h1>
      <br>
    </div>
    <div *ngIf="chatInvites.length == 0">
      <div>
        <p>{{'friendRequests.noChatReqMessage' | translate}}</p>
      </div>
    </div>
    <div *ngFor="let inv of chatInvites">
      <div class="sender-name">{{ inv.sender.displayedName }} {{'friendRequests.chatReqMessage' | translate}} '{{ inv.chat.name }}'</div>
      <button (click)="acceptChatInvite(inv.id)">{{'friendRequests.accept' | translate}}</button>
      <button (click)="denyChatInvite(inv.id)">{{'friendRequests.reject' | translate}}</button>

  </div>
</div>
