<div class="background">
  <div class="profile-container">
    <div class="profile-header">
      <div class="profile-image-container">
        <img [src]="previewImage || loadUserPicture()" alt="Profile picture" class="profile-image">
        <input type="file" (change)="onImageChange($event)" *ngIf="isEditMode">
      </div>
    </div>

    <div class="profile-details">
      <h2 *ngIf="!isEditMode">{{ user.name }}</h2>
      <input *ngIf="isEditMode" [(ngModel)]="user.name" placeholder="{{'profileDetails.namePlaceholder' | translate}}" class="profile-input">
      <p *ngIf="!isEditMode">{{ user.displayedName}}</p>
      <input *ngIf="isEditMode" [(ngModel)]="user.displayedName" placeholder="{{'profileDetails.namePlaceholder' | translate}}" class="profile-input">
    </div>

    <div class="profile-info">
      <div class="profile-info-item">
        <label>{{'profileDetails.email' | translate}}</label>
        <span *ngIf="!isEditMode">{{ user.email }}</span>
        <input *ngIf="isEditMode" [(ngModel)]="user.email" placeholder="{{'profileDetails.emailPlaceholder' | translate}}" class="profile-input" />
      </div>
    </div>

    <div class="profile-actions">
      <button *ngIf="!isEditMode" (click)="toggleEditMode()" class="edit-button">{{'profileDetails.editButton' | translate}}</button>
      <button *ngIf="isEditMode" (click)="saveChanges()" class="save-button">{{'profileDetails.saveButton' | translate}}</button>
      <button *ngIf="isEditMode" (click)="cancelEdit()" class="cancel-button">{{'profileDetails.cancelButton' | translate}}</button>
    </div>
    <hr>
    <app-friend-list></app-friend-list>
  </div>

</div>
