<div class="background">
  <div class="profile-container">
    <div class="profile-header">
      <div class="profile-image-container">
        <img [src]="previewImage || user.pfpUrl" alt="Profile picture" class="profile-image">
        <input type="file" (change)="onImageChange($event)" *ngIf="isEditMode">
      </div>
    </div>

    <div class="profile-details">
      <h2 *ngIf="!isEditMode">{{ user.name }}</h2>
      <input *ngIf="isEditMode" [(ngModel)]="user.name" placeholder="Your name" class="profile-input">
      <p *ngIf="!isEditMode">{{ user.displayedName}}</p>
      <input *ngIf="isEditMode" [(ngModel)]="user.displayedName" placeholder="Displayed name" class="profile-input">
    </div>

    <div class="profile-info">
      <div class="profile-info-item">
        <label>Email:</label>
        <span *ngIf="!isEditMode">{{ user.email }}</span>
        <input *ngIf="isEditMode" [(ngModel)]="user.email" placeholder="Email" class="profile-input" />
      </div>
    </div>

    <div class="profile-actions">
      <button *ngIf="!isEditMode" (click)="toggleEditMode()" class="edit-button">Edit Profile</button>
      <button *ngIf="isEditMode" (click)="saveChanges()" class="save-button">Save Changes</button>
      <button *ngIf="isEditMode" (click)="cancelEdit()" class="cancel-button">Cancel</button>
    </div>
    <hr>
    <app-friend-list></app-friend-list>
  </div>

</div>
