<div class="background">
  <div class="main-container">
    <h1>
      {{'signUpScreen.signUp' | translate}}
    </h1>
    <form [formGroup]="signupForm" (submit)="signUp()">
      <div>
        <label>{{'signUpScreen.username' | translate}}</label>
        <input type="text" formControlName="name">
      </div>
      <div>
        <label>{{'signUpScreen.password' | translate}}</label>
        <input type="password" formControlName="pass">
      </div>
      <div>
        <label>{{'signUpScreen.email' | translate}}</label>
        <input type="email" formControlName="email">
      </div>
      <div>
        <label>{{'signUpScreen.displayedName' | translate}}</label>
        <input type="text" formControlName="displayedName">
      </div><br>
      <button type="submit" [disabled]="signupForm.invalid">{{'signUpScreen.signUpButton' | translate}}</button>
      <button type="button" (click)="goBack()">{{'signUpScreen.backButton' | translate}}</button>
      <div *ngIf="signupError">
        <p style="color: red; font-weight: bold">{{ signupError }}</p>
      </div>
    </form>
  </div>
</div>
