<div class="background">
  <div class="main-container">
    <h1>
      {{"Sign up"}}
    </h1>
    <form [formGroup]="signupForm" (submit)="signUp()">
      <div>
        <label>{{"Username: "}}</label>
        <input type="text" formControlName="name">
      </div>
      <div>
        <label>{{"Password: "}}</label>
        <input type="password" formControlName="pass">
      </div>
      <div>
        <label>{{"Email: "}}</label>
        <input type="email" formControlName="email">
      </div>
      <div>
        <label>{{"Displayed name: "}}</label>
        <input type="text" formControlName="displayedName">
      </div><br>
      <button type="submit" [disabled]="signupForm.invalid">{{"Sign up"}}</button>
      <button type="button" (click)="goBack()">{{"Back"}}</button>
      <div *ngIf="signupError">
        <p style="color: red; font-weight: bold">{{ signupError }}</p>
      </div>
    </form>
  </div>
</div>
