<div class="language-container">
  <h3>{{'languageScreen.title' | translate}}</h3>

  <label>
    <input type="radio" name="language" value="en" [checked]="language === 'en'" (change)="changeLanguage('en')" />
    {{'languageScreen.engButton' | translate}}
  </label>
  <br>
  <label>
    <input type="radio" name="language" value="hr" [checked]="language === 'hr'" (change)="changeLanguage('hr')" />
    {{'languageScreen.croButton' | translate}}
  </label>
  <br>
  <button type="button" (click)="applyLanguage()">{{'languageScreen.applyButton' | translate}}</button>
</div>
